{% extends "template.html" %}
{% import "_macros.html" as macros %}
{% set active_page = "index" %}

{% block page_content %}
<div class="container">
    <div class="media-heading" style="background-color:aquamarine;margin-right:29px;">
        <h1><center>Bubbl</center></h1>
        <h3 class="lead" s><center>Latest Bubbls you can see</center></h3>
    </div>
</div>

{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>




{% endblock %}