{% extends "bootstrap/base.html" %}

{% block title %}BUBBL{% endblock %}


{% block head %}
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse navbar-static-top" role="navigation" style="background-color: aqua">
        {% if 'email' in session %}
        {% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/contact', 'contact', 'Contact'),
        ('/about', 'about', 'About'),
        ('/form', 'form', 'Form'),
        ('/profile', 'profile', 'Profile'),
        ('/signout', 'signout', 'Signout')
        ] -%}
        {% else %}
        {% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/contact', 'contact', 'Contact'),
        ('/about', 'about', 'About'),
        ('/form', 'form', 'Form'),
        ('/signup', 'signup', 'Signup'),
        ('/signin', 'signin', 'Signin')
        ] -%}
        {% endif %}

        <a class="btn btn-primary pull-right" href="{{url_for('main.new_post')}}">
            New Post
        </a>
        {% set active_page = active_page -%}
        
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Bubbl</a>
            </div>
            
            <div class="navbar-collapse collapse" id="navigation">
            
              
                <ul class="nav navbar-nav">
                    {% for href, id, caption in navigation_bar %}
                    <li {% if id == active_page %} class="active"{% endif %}><a href={{href|e}}>{{caption|e}}</a></li>
                {% endfor %}
                </ul>
             
            </div>
        </div>
    </div>
    
    
   
{% endblock %}




{% block content %}
<script src="/static/js/bootstrap.min.js"></script>

<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

</div>


    <div class="container" style="margin-bottom: 70px">
        {% block page_content %}
        {% endblock %}
    </div>




<div class="navbar navbar-fixed-bottom" role="navigation" style="background-color:sandybrown">
    <div class="container">
        <div class="navbar-text pull-left">
            2016 Bubbl
        </div>
    </div>
</div>


{% endblock %}


