{% extends "layout.html" %}




{% block content %}

<form method="POST">
    {{ form.name.label }} {{ form.name() }}
    {{ form.submit() }}
</form>

{% if name == "charlie" or name == "Charlie" %}
    <h2>I bow to you, {{name}}.</h2>

{% elif name == "nik" or name == "Nik" %}
    <h2>Boy, Nik sure has nice triceps!</h2>

{% elif name == "Victoria" or name == "victoria" %}
    <h2>Hey cutie :)</h2>

{% elif name == "v" or name == "V" or name == "Vee" or name == "vee" %}
    <h2>I love you ;)</h2>

{% elif name == None %}
    
{% else %}
    <h2>Hello, Stranger!</h2>

{% endif %}

{{ message }}


{% endblock %}
