{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1><center>Bubbl</center></h1>
    <p class="lead"><center>Blog smarter</center></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>How it works</h2>
        <p>
            You write a blog, then you get a bubbl around you. The more people like it, the larger your bubbl grows!
        </p>
        <p><a class="btn btn-default" href="http://bubblblog.com/form">This button does nothing &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I need this in my life</h2>
        <p>Don't you worry, we're getting there.</p>
        <p><a class="btn btn-default" href="http://bubblblog.com">Reload page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Do you have anything for this section?</h2>
        <p>Nope, not yet. This is a big improvement already, so get off my back.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Don't click this button! &raquo;</a></p>
    </div>
</div>

{% endblock %}
